<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="graphite" type="Graphite.Configuration.GraphiteConfiguration, Graphite"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <graphite xmlns="http://github.com/peschuster/Graphite/Configuration">
    <graphite address="192.168.2.105" port="2003" transport="Tcp" />
  </graphite>
</configuration>
