<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="graphite" type="Graphite.Configuration.GraphiteConfiguration, Graphite"/>
    <section name="graphite.system" type="Graphite.System.Configuration.GraphiteSystemConfiguration, PerfCounterMonitor"/>
  </configSections>
  <graphite xmlns="http://github.com/peschuster/Graphite/Configuration">
    <!--<graphite address="192.168.2.105" port="2003" transport="Tcp" />-->
    <statsd address="127.0.0.1" port="8125" prefixKey="test" />    
  </graphite>
  <graphite.system xmlns="http://github.com/peschuster/Graphite/Configuration">
    <listeners>
      <clear />
      <add 
        key="processor.time" 
        category="Processor" instance="_Total" counter="% Processor Time" 
        type="gauge" target="statsd" interval="30" />
      <add 
        key="processor.dpc" 
        category="Processor" instance="_Total" counter="DPC Rate" 
        type="gauge" target="statsd" interval="5" />
    </listeners>
  </graphite.system>
</configuration>